.form {
  gap: 16px;
  display: flex;
  padding: 20px;
  border-radius: 12px;
  flex-direction: column;
  background: rgb(245, 245, 245);
}

.fullWidthStack {
  gap: 16px;
  display: grid;
  grid-template-columns: 1fr;
}

.actionsLogin {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.loader {
  flex: 1;
}
